server:
  port: 9084
spring:
    datasource:
      username: root
      password: root
      url: jdbc:mysql://192.168.204.134:3306/zeromall_pms
      driver-class-name: com.mysql.jdbc.Driver
    cloud:
      nacos:
        discovery:
          server-addr: localhost:8848
    application:
      name: zeromall-product
mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto